{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %}</title>
  <script src="{% static 'assets/js/color-modes.js' %}"></script>
  <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
</head>
<body>
  {% block content %}{% endblock %}
  <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>